body {
    width: 100%;
    margin: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

section {
    margin-top: 100px;
    display: flex;
}

section > div:last-child {
    border-right: 2px solid #b9b9b9;
}

section > div > span > div:first-child {
    border-top: 2px solid #b9b9b9;
}

span > div {
    display: block;
    color: black;
    text-align: center;
    background: #eeeeee;
    border-bottom: 2px solid #b9b9b9;
    border-left: 2px solid #b9b9b9;
    border-left: 2px solid #b9b9b9;
}

span > div:nth-child(1) {
    background: white;
}

span > div:nth-child(3) {
    background: white;
}

span > div:nth-child(5) {
    background: white;
}

.sysvars {
    display: flex;
    flex-direction: column;
}

h2 {
    background: #eeeeee;
    color: black;
    text-align: center;
    width: 25vw;
    margin: 0;
}