body {
    width: 100%;
    margin: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

section {
    margin-top: 10px;
    display: flex;
    border-top: 2px solid #b9b9b9;
}

section > div:last-child {
    border-right: 2px solid #b9b9b9;
}

section > div > span > div:first-child {
    border-top: 2px solid #b9b9b9;
}

span > div {
    display: block;
    color: black;
    text-align: center;
    background: #eeeeee;
    border-bottom: 2px solid #b9b9b9;
    border-left: 2px solid #b9b9b9;
    border-left: 2px solid #b9b9b9;
    padding: 5px 0;
}

span > div:nth-child(1) {
    background: white;
}

span > div:nth-child(3) {
    background: white;
}

span > div:nth-child(5) {
    background: white;
}

.sysvars {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 14px;
    background: #eeeeee;
    color: black;
    text-align: center;
    width: 20vw;
    display: block;
    padding: 5px 0;
    margin: 0;
}

.median {
    border-right: 2px solid #b9b9b9;
    border-bottom: 2px solid #b9b9b9;
    border-top: 2px solid #b9b9b9;
}

.median > .result {
    display: block;
    color: black;
    text-align: center;
    background: #eeeeee;
    border-bottom: 2px solid #b9b9b9;
    border-left: 2px solid #b9b9b9;
    border-left: 2px solid #b9b9b9;
    padding: 5px 0;
}

.median > div:last-child {
    border-right: none;
}

.median > div > h2 {
    border-bottom: 2px solid #b9b9b9;
    border-left:  2px solid #b9b9b9;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.median > div > span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #b9b9b9;
    min-height: 30px;
}

.median > div:last-child > span {
    /*border-right: 2px solid #b9b9b9;*/
}